<a href="/dashboard" class="logo logo-dark">
    <span class="logo-sm"><span class="fw-bold nav-brand-short"><%= user.navBrandShortLabel %></span></span>
    <span class="logo-lg"><span class="fw-bold fs-18 nav-brand-full"><%= user.navBrandLabel %></span></span>
</a>
<a href="/dashboard" class="logo logo-light">
    <span class="logo-sm"><span class="fw-bold nav-brand-short"><%= user.navBrandShortLabel %></span></span>
    <span class="logo-lg"><span class="fw-bold fs-18 nav-brand-full"><%= user.navBrandLabel %></span></span>
</a>
