                        <div class="mt-4 text-center">
                            <%- footerLink %>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <%- include('auth-footer') %>
    </div>

    <%- include('auth-scripts') %>
    <script src="<%= assetBase %>/assets/js/pages/password-addon.init.js"></script>
</body>
</html>
