<div class="modal fade" id="leadTaskModal" tabindex="-1" aria-labelledby="leadTaskModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="leadTaskModalLabel">Add Task</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="leadTaskForm">
                <input type="hidden" id="leadTaskId" value="">
                <div class="modal-body">
                    <div id="leadTaskFormError" class="alert alert-danger d-none" role="alert"></div>
                    <div class="mb-3">
                        <label for="modalTaskName" class="form-label">Name <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" id="modalTaskName" name="name" required>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="modalTaskDueDate" class="form-label">Date <span class="text-danger">*</span></label>
                            <input type="date" class="form-control" id="modalTaskDueDate" name="dueDate" required>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="modalTaskDueTime" class="form-label">Time</label>
                            <input type="time" class="form-control" id="modalTaskDueTime" name="dueTime">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="modalTaskPriority" class="form-label">Priority</label>
                            <select class="form-select" id="modalTaskPriority" name="priority">
                                <option value="">None</option>
                                <% taskPriorityOptions.forEach(function(option) { %>
                                    <option value="<%= option.value %>"><%= option.label %></option>
                                <% }); %>
                            </select>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="modalTaskStatus" class="form-label">Status</label>
                            <select class="form-select" id="modalTaskStatus" name="status">
                                <% taskStatusOptions.forEach(function(option) { %>
                                    <option value="<%= option.value %>"><%= option.label %></option>
                                <% }); %>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary" id="leadTaskSubmit">Add</button>
                </div>
            </form>
        </div>
    </div>
</div>
