<%- include('../partials/velzon/app-layout-open', {
    pageTitle: 'Add Lead - CRM',
    activeNav: 'leads'
}) %>

<link href="/vendor/tom-select/tom-select.bootstrap5.min.css" rel="stylesheet">
<link href="/vendor/quill/quill.snow.css" rel="stylesheet">
<link href="/css/lead-detail.css" rel="stylesheet">

                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                                <h4 class="mb-sm-0">Add Lead</h4>
                                <div class="page-title-right">
                                    <ol class="breadcrumb m-0">
                                        <li class="breadcrumb-item"><a href="/dashboard">CRM</a></li>
                                        <li class="breadcrumb-item"><a href="/company/leads">Leads</a></li>
                                        <li class="breadcrumb-item active">Add</li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <div class="card">
                                <div class="card-header align-items-center d-flex">
                                    <h4 class="card-title mb-0 flex-grow-1">New Lead</h4>
                                </div>
                                <div class="card-body">
                                    <% if (error) { %>
                                        <div class="alert alert-danger" role="alert"><%= error %></div>
                                    <% } %>

                                    <form action="/company/leads" method="post" id="leadCreateForm">
                                        <%- include('./_form-fields') %>
                                        <div class="d-flex gap-2">
                                            <button class="btn btn-success" type="submit">Create Lead</button>
                                            <a href="/company/leads" class="btn btn-light">Cancel</a>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

<script src="/vendor/tom-select/tom-select.complete.min.js"></script>
<script src="/vendor/quill/quill.js"></script>
<script src="/js/lead-form.js"></script>
<script src="/js/lead-create.js"></script>

<%- include('../partials/velzon/app-layout-close') %>
