<div class="modal fade" id="unitDeleteModal" tabindex="-1" aria-labelledby="unitDeleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="unitDeleteModalLabel">Delete unit</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p class="mb-0">
                    Delete unit <strong id="unitDeleteModalUnitNumber"></strong>? This cannot be undone.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger" id="unitDeleteModalConfirm">Delete unit</button>
            </div>
        </div>
    </div>
</div>
